@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.opacidad{
    background-color: rgba(51, 51, 51, 0.6);
}

nav{
    display: flex;
    padding-top: 3%;
}

nav img{
    padding-left: 4%;
    width: 10%;
}

.login{
    display: flex !important;
    justify-content: flex-end !important;    
    width: 100%;
    padding-right: 3%;
}

.login-wrapper{
        width: 272px;
        height: 48px;
        opacity: 0.6;
        border-radius: 24px;
        background-color: #333333;
        font-family: Muli;
        font-size: 16px;
        text-align: center;
        color: #ffffff;
}

.login-wrapper a{
    font-family: muliBold;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: #1ac5e8;    
    padding-left: 3%;
}

.poder{
    font-family: oxigenRegular;
    font-size: 40px;
    color: #a3e8f7;
    margin-top:5%; 
    display: flex; 
    justify-content: center;
    width: 100%;
}

.somos{
    font-family: muliRegular;
    font-size: 24px;
    text-align: center;
    color: #ffffff;      
}

.unete{
    width: 22%;
    height: 5%;
    border-radius: 20px;
    background-color: #6584fb;
    box-shadow: none;
    border: none;
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.ventajas{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5%;
}

.crece{
    width: 100%;
    text-align: center;
}

.proveedores{
    width: 100%;
    text-align: center;
}

.crea{    
    width: 100%;
    text-align: center;
}


#soy{
    
    font-family: oxigenRegular;    
    font-size: 36px;
    text-align: center;
    margin: 12% 0 0 0;
}

.download{
    width: 26%;
    display: flex;
    justify-content: inherit;
    height: 100%;
    
}

.social{
    width: 22%;
    display: flex;
    height: 100%;
    justify-content: inherit;
    margin-right: 6.5%;
} 

.social-wra{
    display: flex;
    justify-content: space-around;
    width: 75%;
}




.imagen-c{
    width: 50%;
}


.soy-cliente{
    width: 100%;
    height: 16.4%;
    display: flex;
}

#description{
    font-family: muliRegular;
    font-size: 28px;
    text-align: center;
    margin-bottom: 24%;
}

