<div class="fondo">
<nav>
  <img src="assets/img/logo.png">
  <div class="login">
    <div class="login-wrapper">
      <span style="display: flex; align-content: center; justify-content: center; margin-top: 4%; font-family:muliRegular;">
        ¿Ya tienes cuenta? <a href="#"> Inicia Sesion </a>
      </span>      
    </div>
  </div>
</nav>
<div style="text-align:center; padding-bottom: 3%;">
    <span class="poder">
      <p style="margin: 0;"> 
        El poder del Networking al alcance de tus manos
      </p>
    </span>
    <span class="somos">
      <p>
        Somos una plataforma digital que ayuda a crear<br>
        vínculos entre proveedores y clientes a través de una red de contactos
      </p>
    </span>
    <button class="unete">
      <p style="font-family:muliSemi; margin: 2% 0;">
        Únete
      </p>
    </button>
</div>
</div>

<p style="text-align:center; font-family: oxigenRegular; font-size: 32px; text-align: center; color: #4d4d4d;"> 
  Ventajas de trabajar con BB6ix 
</p>

<div class="ventajas">
  <div class="crece">
    <img src="assets/img/icon-marca.png" alt="">
    <p style="font-family:oxigenBold;">Crece tu negocio</p>
    <p style="font-family:muliRegular;">Incrementa tus ventas a través de <br>nuesta red de clientes que <br>necesitan tus servicios</p>
  </div>

  <div class="proveedores">
      <img src="assets/img/icon-confianza.png" alt="">
      <p style="font-family:oxigenBold;">Proveedores de confianza</p>
      <p style="font-family:muliRegular;">Encuentra proveedores calificados <br>y recomendados por gente<br> cercana a tu red de contactos.</p>
  </div>

  <div class="crea">
      <img src="assets/img/icon-red.png" alt="">
      <p style="font-family:oxigenBold;">Crea tu red</p>
      <p style="font-family:muliRegular;">Posiciona tu marca y servicios en <br>tu red, generando mayor impacto <br>a tu negocio en ventas.</p>
  </div>

</div>
<div class="testimonios" style="width: 100%; background-color: #6584fb; text-align:center;">
  <p style="margin: 0; font-family: oxigenRegular;  font-size: 32px;  text-align: center;  color: #ffffff;"> 
    Testimonios 
  </p>
  <img src="assets/img/chica-2-copy-2.png" alt="">
  <p style="font-family: muliItalic;  font-size: 28px;  text-align: center;  color: #e6f7f8;">
      “¡Mi encuentro con Tom fue genial!, definitivamente seguiremos en contacto. Gracias Tom”
  </p>
  <p style=" font-family: muliRegular;  font-size: 18px;  text-align: center;  color: #e6e6e6; padding-bottom: 6.5%; margin: 0;
  ">
          Miguel Arellano
  </p>

</div>



<md-grid-list cols="2" rowHeight="2:1">
  <md-grid-tile>
    <img src="assets/img/hover_proveedor.jpg" alt="">
    <div style="background-color: rgba(101, 132, 251, 0.5); z-index: 137; width: 100%; height: 100%; position: absolute;">
    </div>
  </md-grid-tile>
  <md-grid-tile class="soy_p">
      <p id="soy"> Soy Proveedor</p><br>
      <p>Quiero crecer mi negocio y quiero hacer crecer mi reputación.</p>
  </md-grid-tile>
  <md-grid-tile>
      <p id="soy"> Soy Cliente</p><br>
      <p>Busco proveedores confiables para hacer crecer mi negocio.</p>
  </md-grid-tile>
  <md-grid-tile>
      <img src="assets/img/hover_cliente.jpg" alt="">
      <div style="background-color: rgba(163, 232, 246, 0.3); z-index: 137; width: 100%; height: 100%; position: absolute;">
        </div>
  </md-grid-tile>
</md-grid-list>



<footer>
  <div class="wrapper-footer" style="display:flex; justify-content:space-around; padding-top: 5%;">
  <div>
  <p style="font-family:muliRegular; color: #4d4d4d;">
      Términos y condiciones
      </p>
  </div>
  <div>
  <p style="font-family:muliRegular;color: #4d4d4d;">
      Política de privacidad
        </p>
  </div>
  <div class="download">
    <img src="assets/img/descarga-appstore.png" alt="">
    <img src="assets/img/descarga-google.png" alt="">
  </div>
  <div class="social">
      <div class="social-wra">
        <img src="assets/img/facebook.png" alt="">
        <img src="assets/img/instagram.png" alt="">
        <img src="assets/img/twitter.png" alt="">
      </div>
  </div>
  </div>
<div style="display:flex; justify-content:center; font-family:muliRegular; color: #4d4d4d; font-size: 14px;">
    © 2017 BB6ix Todos los derechos reservados.
</div>

</footer>