<div class="fondo">
<nav>
  <img src="assets/img/logo2.png">
  <div class="login">
    <div class="login-wrapper">
      <span style="display: flex; align-content: center; justify-content: center; margin-top: 4%;">
        ¿Ya tienes cuenta? <a href="#"> Inicia Sesion </a>
      </span>      
    </div>
  </div>
</nav>
<div>
    <p> El poder del Networking al alcance de tus manos</p>
    <p>Somos una plataforma digital que ayuda a crear
        vínculos entre proveedores y clientes a través de una red de contactos</p>
        <button>Únete</button>
</div>
</div>