<div class="fondo">
<nav>
  <img src="assets/img/logo2.png">
  <div class="login">
    <div class="login-wrapper">
      <span style="display: flex; align-content: center; justify-content: center; margin-top: 4%;">
        ¿Ya tienes cuenta? <a href="#"> Inicia Sesion </a>
      </span>      
    </div>
  </div>
</nav>
<div style="text-align:center; padding-bottom: 3%;">
    <span class="poder">
      <p style="margin: 0;"> 
        El poder del Networking al alcance de tus manos
      </p>
    </span>
    <span class="somos">
      <p>
        Somos una plataforma digital que ayuda a crear<br>
        vínculos entre proveedores y clientes a través de una red de contactos
      </p>
    </span>
    <button class="unete">Únete</button>
</div>
</div>
<div class="ventajas">
  <div class="crece">
    <img src="assets/img/icon-marca.png" alt="">
    <p style="font-weight: bold;">Crece tu negocio</p>
    <p>Incrementa tus ventas a través de <br>nuesta red de clientes que <br>necesitan tus servicios</p>
  </div>

  <div class="proveedores">
      <img src="assets/img/icon-confianza.png" alt="">
      <p style="font-weight: bold;">Proveedores de confianza</p>
      <p>Encuentra proveedores calificados <br>y recomendados por gente<br> cercana a tu red de contactos.</p>
  </div>

  <div class="crea">
      <img src="assets/img/icon-red.png" alt="">
      <p style="font-weight: bold;">Crea tu red</p>
      <p>Posiciona tu marca y servicios en <br>tu red, generando mayor impacto <br>a tu negocio en ventas.</p>
  </div>

</div>
<div class="testimonios" style="width: 100%; background-color: #6584fb;">
  <p style="margin: 0; font-family: Oxygen;  font-size: 32px;  text-align: center;  color: #ffffff;"> 
    Testimonios 
  </p>
  <img src="" alt="">
  <p style="font-family: Muli;  font-size: 28px;  font-style: italic;  text-align: center;  color: #e6f7f8;">
      “¡Mi encuentro con Tom fue genial!, definitivamente seguiremos en contacto. Gracias Tom”
  </p>
  <p style=" font-family: Muli;  font-size: 18px;  text-align: center;  color: #e6e6e6;">
          Miguel Arellano
  </p>

</div>
<footer>
  <div class="wrapper-footer" style="display:flex; justify-content:space-around;">
  <div>
    Terminos y condiciones
  </div>
  <div>
    Politica de privacidad
  </div>
  <div class="downlaod">
    <img src="assets/img/descarga-appstore.png" alt="">
    <img src="assets/img/descarga-google.png" alt="">
  </div>
  <div class="social">
      <img src="assets/img/facebook.png" alt="">
      <img src="assets/img/twitter.png" alt="">
      <img src="assets/img/facebook.png" alt="">
  </div>
  </div>
</footer>